<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the API server for my <%= title %> talk entitled <a href="https://iplanit.swoogo.com/rmisc2024/session/2051148/w4-2f.-in-the-pipe-5x5-copilots-+-automated-security">W4-2F. In the Pipe, 5x5: Copilots + Automated Security</a>. We're LIVE!</p>
    <p>This API server will respond to the following endpoints:</p>
    <ul>
      <li>GET <a href="/api/v1">/api/v1</a></li>
      <li>POST <a href="/api/v1/login">/api/v1/login</a></li>
      <li>GET <a href="/api/v1/tenks">/api/v1/tenks</a></li>
    </ul>

    <p>Author: <a href="https://www.andrewhoog.com/">Andrew Hoog</a></p>

  </body>
</html>
